body {
    background-color: #f0eef1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.header {
    background-color: white;
}

.header, .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 20px;
    margin: 10px;
}

.main {
    
}
