body {
    background-color: #f0eef1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: block;
    align-items: center;
    justify-content: space-between;
}

.main {
    text-align: center;
    
}

.container {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    line-height: 1.2;
}

.input {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.is-read {
    display: flex;
    gap: var(--spacing-md);
}

p {
    margin: 0px;
}

.btn {
    padding: 10px;
    border-radius: 8px;
    transition: filter 0.15s ease-in-out;
    font-size: 20px;
}

.btn-add {
    font-size: 24px;
    font-weight: 600;
}

.btn:hover {
    filter: brightness(90%);
}

.btn-light-green {
    background-color: greenyellow;
}